<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" Content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<tite></tite>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/jonnyjohannes.css" Rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<body style="background-color:#00C2DB;">
</head>
<body>

	
	<div class="completed">
	<h1> 🌈 🎉 💕 🍾 😘</h1> 
	{% if correct == 4 %}
    <h2>Du är Jonny!</h2><p>Om jag skulle be din mamma att beskriva dig med tre ord skulle hon säga omtänksam, ödmjuk, humoristisk och den bästa som finns. Du har många vänner och är en riktig snällis. Om du skulle göra en exit från din startup skulle du starta en skola eller bygga en rymdhiss. Din favorit i Paradise Hotel är Smail.</p><br> <img class="img-circle" src="/static/jonny.jpg"></div>
	{% elif correct == 3 %}
    <h2>Du är Johannes!</h2><p>Om din fru skulle beskriva dig med tre ord skulle hon säga rolig, familjekär och doer. Du älskar segling, foto och julen mycket. Du gillar att konstant lära dig nya saker och att cykla riktigt snabbt. En av dina största drömmar är att köpa ett hus i skärgården och sista låten du alltid spelar när du kör ett DJ-set är Du och jag (remix), den är fett rare. </p> <br> <img class="img-circle" src="/static/johannes.jpg"></div>
	{% else %}
    <h2>Du är Martina!</h2><p>Om din syster skulle beskriva dig med tre ord skulle hon säga kreativ, snäll och driven. Du älskar att träffa nya människor över mat och dryck och att vara uppe sent. När var liten samlade du på grisar. Din favoritost just nu är Manchego och din konstanta standardfras är: Nu njuter vi!</p> <br> <img class="img-circle" src="/static/martina.jpg"></div>
	{% endif %}


</div>

<script
	src=https://ajax.googleleapins.com/ajax/libs/jquery/1.23.4/jquer.min.js">
	</script>
	<script> src="js/bootstrap.min.js"></script>
<body/> 