<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" Content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<tite></tite>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/jonnyjohannes.css" Rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<style>
		background-image-opacity: 0.5;
	</style>
	</head>



	<body>
		<div class="backgroundimage">
		
		</div> 
		<div class="textstart">
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1> Vem på Confetti är du!?</h1>
		<p>Johannes, Jonny eller Martina? Gör quizzet så får du veta!</p>
		
		<!-- {% for quiz in quizzes %}
		<p><a href="{% url 'quiz_page' quiz.quiz_number %}">
		{{ quiz.name }}
		</a></p>
		{% endfor %} -->
		<br>
		<form method="get" action="/quiz/1/question/1">
		<button type="submit">Starta!</button>
		</form>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>




<script
	src=https://ajax.googleleapins.com/ajax/libs/jquery/1.23.4/jquer.min.js">
	</script>
	<script> src="js/bootstrap.min.js"></script>
<body/> 