<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" Content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<tite></tite>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/jonnyjohannes.css" Rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<style>

	</style>

	</head>
<body>

<div class="containermartina">
<video loop autoplay>
  <source src="/static/out2.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<div class="center">

<div class="container-button">
  <button id="button"></button>

<h1>Vem av Jonny och Johannes känner du bäst?</h1>
<h4>Ta quizzet så får du veta</h4>

{% for quiz in quizzes %}
	<p>{{ quiz.name }}</p>
{% endfor %}

<div class="container-button">
  <button id="button"></button>

</div>

</div>
</div>

<h1>Vem av Jonny och Johannes känner du bäst?</h1>
<h4>Ta quizzet så får du veta</h4>

<br>
<script
	src=https://ajax.googleleapins.com/ajax/libs/jquery/1.23.4/jquer.min.js">
	</script>
	<script> src="js/bootstrap.min.js"></script>
<body/> 