@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');


body {
	background-size: cover;
	color: white;
	font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 24px;
}


h1 {
  	text-align: center;
    font-size: 40px;
  }


button { 
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 70px;
    height: 70px;
    border-radius: 40px;
    padding: 0 2em;
    width: auto;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-weight: 400;
  }

.containermartina {
      position: relative;
    }

.backgroundimage {
  margin-top: 0%;
  background-size: cover;

}

.textstart {
text-align: center;
background-image: url("teamgif.gif");
background-position: center;
background-size: cover;
font-size:;
margin-left: auto;
margin-right: auto;

	}

.textstart h1 {
  font-size: 90px;
  top-margin: 25%;
  letter-spacing: -1px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.textstart p {
  font-weight: 400;
}


.quiz {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20%;  
}

.quiz h1 {
margin-bottom: 25px;
}

.quiz p {
  font-size: 20px;
  font-family: Source Sans Pro;
}

.question {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20%;
  font-family: Source Sans Pro;
}

  .question h1 {
  margin-bottom: 25px;
  font-family: Source Sans Pro;
  font-weight: 900;
}

  
  .question label {
    font-size: 20pt;
    font-family: Source Sans Pro;
    font-weight: 400;
  }


  input[type=radio]{
      appearance:none;
      margin:0 30px;
      width: 14px;
      height: 14px;
      background: #00C2DB;
      box-shadow:
      inset 0 0 0 .4em #00C2DB,
      0 0 0 .3em;
      border-radius: 50%;
      transition: .2s;
      cursor:pointer;
      color: #FFFFFF;

}

input[type=radio]:hover, {
      background: #9B9B9B;
}

input[type=radio]:checked {
      background: #00C2DB;
      box-shadow:
      inset 0 0 0 .12em white,
      0 0 0 .3em;
  }
  
input[type=radio]:checked {
      background: #00C2DB;
      box-shadow:
      inset 0 0 0 .4em white,
      0 0 0 .3em #272822;
  } 

input[type=radio]:focus { outline: 0; }

form {
  font-family: Source Sans Pro;
}

.completed {
  margin-top: 8%;
  text-align: center;
  font-size: 30px;
}

.completed h1 {
  font-size: 50px;
}

.completed h2 {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 40px;

}

.completed p {
  font-size: 18px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
}

.img-circle {

  max-width:3100px;
}

.img-circle {
    border-radius: 50%;
}