
body {
	background-size: cover;
	color: white;
	font-family: SourceSansPro-Bold;
	margin: 0px
  font-size: 10vw;
}

video {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:100%;
height:100%;
z-index:1; 
margin:auto;
}

h1 {
  	text-align: center;
    font-size: 40px;
  }


button { 
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 70px;
    height: 70px;
    border-radius: 40px;
    padding: 0 2em;
    width: auto;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
  }

.containermartina {
      position: relative;
    }

.textstart {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
width:200px;
height:50px;
z-index:2; 
margin:auto;
	}


.quiz {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20%;  
}

.quiz h1 {
margin-bottom: 25px;
}

.quiz p {
  font-size: 20;
  font-family: SourceSansPro-Regular;
}

.question {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20%;
}

  .question h1 {
  margin-bottom: 25px;
}

  
  .question label {
    font-size: 20;
    font-family: SourceSansPro-Regular;
  }

  input[type=radio]{
    margin-right: 10px;
}

.completed {
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
}

.completed h1 {
  font-size: 50px;
}

.completed h2 {
  font-family: SourceSansPro-Regular;
}